*       {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body    {
    font-family: 'Montserrat', sans-serif;
    background-color: #1e1e1e ;
    transition: all 2s ease;
}

.pep    {
    width: 70px;
    height: auto;
}

ul      {
    list-style-type: none;
    display: flex;
    gap: 35px;
    float: right;
    padding-right: 40px;
}

li      {
    display: block;
    
}

.navitems a    {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    
}

.picstexts      {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}


  
.navigationbar  {
    align-items: center;
    justify-content: space-between;
    margin: auto;
    display: flex;
    padding: 15px 50px;

}

.textfirstp     {
    font-size: 50px;
    font-weight: 800;
    color: white;
}

.secp     {
    font-size: 90px;
    font-weight: 800;
    color: white;
}

.thirdp     {
    font-size: 14px;
    line-height: 25px;
}


.texts  {
    display: block;
    width: 45%;
    color: white;
}

.pepsocimg  {
    display: flex;
    flex-direction: row;
    /* margin: auto; */
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 30px;
}

.socials    {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: 50px; */
}

.pepsiimagee    {
    transition:  all 0.1s ease-in-out; 
}

.pepsiimagee img    {
    /* margin-right: 30px; */
    /* max-width: 250px; */
    transition:  all 0.1s ease-in-out; 
}

.twit       {
    width: 15px;
    height: auto;
    margin-top: 20px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    cursor: pointer;
   
}

.pepp1:hover    {
    transform: translateY(-12px);
}

.pepp:hover    {
    transform: translateY(-12px);
}

.pepp2:hover    {
    transform: translateY(-12px);
}
.twitt       {
    width: 7px;
    height: auto;
    cursor: pointer;
   
}

.producta   {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50px;
}

.apro   {
    margin-top: 40px;
}

.pepsiimage     {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: -60px auto 10px auto;
}

.pepp   {
    width: 30px;
    height: auto;
    transition: 1s ease-in;
}
.pepp1   {
    width: 28px;
    height: auto;
    transition: 1s ease-in;
}

/* .pepp2   {
    width: 40px;
    height: auto;
    margin: 0px 25px;
    transition: 1s ease-out;
} */